:root {
  /* Colours */
  --color-text: #f5f7fa;      /* Light text color */
  --color-primary: #9dbfe6;   /* Soft blue for primary elements */
  --color-secondary: #658ec6; /* A balanced mid-blue for secondary elements */
  --color-dark: #30578a;      /* Deeper blue for dark elements */
  --color-bg: #e3effa;        /* Very light blue for background */


  /* Fonts */
  --font-roboto: "Roboto";
}
